/* GLOBAL STYLES */

body {
	background-color: #fff;
}

code {
    font-size: 1.1em;
    font-weight: bold;
}

/* WRAPPER */

.wrapper {
    width: 948px;
    margin: 0 auto;
}

/* HEADER */

.header {
    border: 3px double gray;
    margin-bottom: 20px;
    background-color: #dedede;
    padding: 10px;
}

/* NAVIGATION */

.menu {
    background-color: silver;
    border: 1px solid gray;
}

.list {
    display: flex;
    list-style-type: none;
    justify-content: left;
    margin: 0;
    padding: 0;
}
a:hover {
    color: white;
}
a {
    text-decoration: none;
    color: black;
}

.list-items {
    padding: 10px 20px;
    text-decoration: none;
}

.list-items:hover {
    background-color: gray;
    color: white;
}

/* MAIN */

.main-content {
    border: 3px double gray;
    background-color: #dedede;
    padding: 10px;
}

