/* GLOBAL STYLES */

body {
	background-color: azure;
}

code {
	font-size: 1.1em;
	font-weight: bold;
}

/* WRAPPER */

.wrapper {
	width: 948px;
	margin: 0 auto;
	background-color: aliceblue;
	border: 3px solid lightsteelblue;
}

/* HEADER */

.header {
	padding-top: 20px;
	background-color: powderblue;
}

.heading {
	padding-left: 10px;
	margin: 0;
}

.intro {
	padding-left: 10px;
}

.container {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	gap: 5px;
}

.list-item {
	flex-grow: 1;
	background-color: cyan;
	text-align: center;
	padding: 10px 20px;
}

a {
	text-decoration: none;
}

.list-item:hover {
	background-color: gray;
}

.list-item:current-page {
	background-color: white;
}
/* MAIN */

.main-content {
	padding: 10px;
}